<div class="container">
    <div class="container pt-4">
        <div class="text-center">
            <h1>
                Pretty Date Demo
            </h1>
        </div>
        <div class="mt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Input</th>
                        <th scope="col">Output</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Date object</td>
                        <td>{{justnow | prettyDate}}</td>
                    </tr>
                    <tr>
                        <td>Date object minus one minute</td>
                        <td>{{aMinAgo | prettyDate}}</td>
                    </tr>
                    <tr>
                        <td>Date object minus 5 minute</td>
                        <td>{{fewMinAgo | prettyDate}}</td>
                    </tr>
                    <tr>
                        <td>Date object minus 1 hour</td>
                        <td>{{anHourAgo | prettyDate}}</td>
                    </tr>
                    <tr>
                        <td>Date object minus 5 hours</td>
                        <td>{{fewHoursAgo | prettyDate}}</td>
                    </tr>
                    <tr>
                        <td>Date object minus 1 day</td>
                        <td>{{yesterday | prettyDate}}</td>
                    </tr>
                    <tr>
                        <td>Date object minus 4 days</td>
                        <td>{{fewDays | prettyDate}}</td>
                    </tr>
                    <tr>
                        <td>Date object minus 17 days</td>
                        <td>{{manyDays | prettyDate}}</td>
                    </tr>
                    <tr>
                        <td>Date object minus 45 days</td>
                        <td>{{manyMonths | prettyDate}}</td>
                    </tr>
                    <tr>
                        <td>Date object minus 366 days</td>
                        <td>{{manyYears | prettyDate}}</td>
                    </tr>
                    <tr>
                        <td>2019-12-24T06:18:44</td>
                        <td>{{'2019-12-24T06:18:44' | prettyDate}}</td>
                    </tr>
                    <tr>
                        <td>Text String</td>
                        <td>{{'String' | prettyDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>